* {
    box-sizing: border-box;

}

body {
    background-color: #0E86D4;
}

.container {
    height: 100vh;
    margin-top: 50px;
}

.container .row {
    max-width: 90vw;

}

.form-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 10px 0;
}

.container .row .input {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 10px;
}

input {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    height: 35px;
}

input:focus {
    outline: none;
}

.container .row .button {
    display: flex;
    justify-content: center;

}

.container button {
    padding: 10px 5px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 15px;
    background-color: #0C4160;
    color: #C3CEDA;
    transition: .3s;

}
.container button:hover {
    background-color: #0c4160dc;
}
.container button:active{
    background-color: #0c4160af;
}

.container input {}

.backlog-item {
    padding: 10px 15px;
    background-color: #0C4160;
    color: #C3CEDA;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: .2s;
}
.backlog-item:hover {
    transform: translateY(2px);
}
/* .backlog-item:focus {
    transform: scale(1.02);
} */


.col-sm {
    margin: 10px;
    min-width: 40vw;
    border-radius: 10px;
    /* height: min(400px, 100%); */
    min-height: 400px; /* Sets the minimum height to 400px */
    height: auto; /* Allows height to increase as content is added */
    max-height: 100%; /* Ensures it doesn't exceed the container's height */
    overflow: auto; /* Adds scroll if content exceeds max-height */
} 
.primary-color {
    background-color: #C3CEDA;
}

.secondary-color {
    background-color: #0C4160;
}

/* .container div {
    border: 2px dashed black;
    padding: 20px;
} */
.container div span h3 {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0;
}