* {
    box-sizing: border-box;
    font-family: "Jockey One", sans-serif;
}

.bold-font{
    font-weight: 500;
}

.container {
    height: 100vh;
    margin-top: 20px;
}

.container .row {
    max-width: 90vw;

}

.form-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 10px 0;
}

.container .row .input {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 10px;
}

input {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    height: 35px;
}

input:focus {
    outline: none;
}

.container .row .button {
    display: flex;
    justify-content: center;

}

.container button {
    padding: 10px 5px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 15px;
    background-color: #0C4160;
    color: #C3CEDA;
    transition: .3s;

}
.container button:hover {
    background-color: #0c4160dc;
}
.container button:active{
    background-color: #0c4160af;
}

.scrum-heading h2 {
    text-align: center;
    color: #C3CEDA;
    font-weight: 700;
    margin-top: 10px;
}

.backlog-item, .todo-item , .inprogress-item, .final-item {
    padding: 10px 15px;
    background-color: #0C4160;
    color: #C3CEDA;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: .2s;
}
.backlog-item:hover {
    transform: translateY(2px);
}
/* .backlog-item:focus {
    transform: scale(1.02);
} */


.col-sm {
    margin: 10px;
    min-width: 40vw;
    border-radius: 10px;
    /* height: max(400px, 100%); */
    height: clamp(300px, 50%, 100% );

    /* min-height: 400px; 
    height: auto; 
    max-height: 100%; 
    overflow: auto; */
    
} 
.primary-color {
    background-color: #C3CEDA;
}

.secondary-color {
    background-color: #0C4160;
}

/* .container div {
    border: 2px dashed black;
    padding: 20px;
} */
.container div span h3 {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0;
}

header{
    display: flex;
    vertical-align: bottom;
    align-items: center;
    justify-content: space-between;
}
nav .nav-items li{
    display: inline-block;
    padding: 0 20px;

}
nav .nav-items a{
    font-size: 17px;
    text-decoration: none;
    color: black;

}

.index-main {
    padding: 0px 30px;
    
}
.index-main .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.index-main .col:nth-child(1) {
    border: 2px solid black;
}
.index-main .col:nth-child(2) {
    position: relative;
    border: 2px solid black;
}

.hero-brand-bg {
    width: 400px;
    opacity: .5;
    color:#0c4160dc;
}

.book-img{
    width: 300px;
    position: absolute;
    top: 100px;
    right: 60px;
    border: 2px solid black;
}
.index-main .col h1 {
    font-size: 40px;
}
.index-main .col p {
    font-size: 16px;
}

@media (min-width:360px) and (max-width: 760px) {
    .index-main .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav .nav-items a{
        font-size: 15px;
    }
    .index-main .col h1, .index-main .col p {
        text-align: center;
    }
}

.about-us {
    margin: 40px 0px;
}

.about-us .middle {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.about-us .middle .left {
    border: 2px solid black;
    flex: 1;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.about-us .middle h3 {
    font-size: 30px;
    margin: 0;
    
}
.about-us .middle h3 span {
    color:#0C4160;
    
}
.about-us .middle p {
   font-size: 18px;
   text-align: left;
    
}
.about-us .middle .right{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    flex: 2;
    justify-content: center;

}
.about-us .middle svg {
    opacity: .5;
    width: 300px;
    border: 2px solid black;
}

@media (min-width:360px) and (max-width: 1070px) {
    .about-us .middle svg {
        width: 300px;
    }
    .about-us .middle {
        display: block;
        margin: 0;
    }
    .about-us .middle p {
        font-size: 18px;
        text-align: center;
         
     }
}